header img{
    width: 20%;
    aspect-ratio: 3/2;
    object-fit: contain;
    mix-blend-mode: color-burn;
    display: flex;
    justify-content: flex-start;
    padding: 5px;
    margin: 1px 0px;
} 
header ul{
    text-decoration: none;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    position: absolute;
    top: 75px;
    left: 25%;
    list-style-type: none;
    gap: 0.5rem;
    padding: 0%;
    margin: 1px;

}
section a{
background-color: beige;
color: brown;
padding: 15px;
display: flex;
justify-content: flex-start;
}
    form input{
        width: 100%;
        box-sizing: border-box;
        border: 2px solid #ccc;
        border-radius: 4px;
        font-size: 16px;
        background-color: white;
        background-image: url('searchicon.png');
        background-position: 10px 10px; 
        background-repeat: no-repeat;
        padding: 12px 20px 12px 40px;
}
section p{
    margin: 10px;
}

img{
    width: 100%;
    padding: 5px 5px 0px 5px;
}
